
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<head>

</head>
<body>
    <div class="container-fluid" style="overflow-x: scroll">                       @*class -----> bootstrap*@
        <hr />
        <button type="button" id="Create" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">Create New</button><br /><br />
        <div class="row flex-row flex-nowrap">
            <table class="table-hover table" id="TableDataOvertime">
                <thead>
                    <tr>
                        <th> No. </th>                                  @*untuk memanggil (class = .) memanggil (id = #) di dalam javascript*@
                        <th> Action </th>
                        <th> Employee Id </th>
                        <th> Date </th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Type Overtime</th>
                        <th>Attachment</th>
                        <th>Description</th>
                        <th>Activity</th>
                        <th>Pay</th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Data Overtime Form</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Id">Id</label>
                            <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Employee Id</label>
                            <input type="text" class="form-control" id="Name" placeholder="Employee Id" />
                        </div>
                        <div class="form-group">
                            <label for="Date">Date</label>
                            <input type="text" class="form-control datepicker" id="Date" placeholder="Date" />
                        </div>
                        <div class="form-group">
                            <label for="Pay">Pay</label>
                            <input type="text" class="form-control" id="Pay_Time" placeholder="Pay" />
                        </div>
                        <div class="form-group">
                            <label for="Start">Start</label>
                            <input type="text" class="form-control" id="Start_Time" placeholder="Start" />
                        </div>
                        <div class="form-group">
                            <label for="End">End</label>
                            <input type="text" class="form-control" id="End_Time" placeholder="End" />
                        </div>
                        <div class="form-group">
                            <label for=""> Type Overtime </label>
                            <select id="TypeOvertime_Id" class="form-control">
                                <option value="1">
                                    Select
                                </option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="Attachment">Attachment</label>
                            <input type="text" class="form-control" id="Attachment_Overtime" placeholder="Attachment" />
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea  type="text" class="form-control" id="Description" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Activity">Activity</label>
                            <input type="text" class="form-control" id="Activity" placeholder="Activity" />
                        </div>                                               
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="Save" onclick="Validate();">Add</button>
                    <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
        <script src="~/Content/jquery/jquery.min.js"></script>    
        <script src="~/Content/sweetalert/sweetalert.min.js"></script>
        <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />  
        <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.js"></script>  
        <script src="~/Content/datatables/jquery.dataTables.min.js"></script>    
        <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <link href="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
         $(function(){
          $(".datepicker").datepicker({
              format: 'yyyy-mm-dd',
              autoclose: true,
              todayHighlight: true,
          });
         });
        </script>
        @*<script src="~/Scripts/Employee/DataOvertime/DataOvertimeScript.js"></script>*@
        <script src="~/Scripts/DataOvertimeMaster/RetrievingDataOvertimes.js"></script>           
        @Scripts.Render("~/bundles/jqueryval")    
    }

