
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<head>

</head>
<body>
    <div class="container-fluid">
        @*class -----> bootstrap*@
        <hr />
        <button type="button" id="Create" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">Create New</button><br /><br />
        <input type="text" class="form-control" id="cmbStatus" placeholder="Search" onchange="LoadTypeOvertimeCombo()" />
        @*<select id="cmbStatus" data-placement="Status" class="form-control" onchange="GetById()"></select>*@
        <table class="table-hover table" id="TypeOvertime">
            <thead>
                <tr>
                    <th> No. </th>                                  @*untuk memanggil (class = .) memanggil (id = #) di dalam javascript*@
                    <th> OvertimeType </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">TypeOvertime Form</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Id">Id</label>
                            <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Name">OvertimeType</label>
                            <input type="text" class="form-control" id="Name" placeholder="Name" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="Save" onclick="Save();">Add</button>
                    <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/Admin/TypeOvertime/TypeOvertimeScript.js"></script>*@
    <script src="~/Scripts/TypeOvertimeMaster/RetrievingTypeOvertimes.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


